<!DOCTYPE html>
<html>
<head>
  <title>BlowPipe</title>
  <%= stylesheet_link_tag    "blow_pipe/application", media: "all" %>
  <%= javascript_include_tag "blow_pipe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
